<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>MENU</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-card class="info-card">
      <ion-card-content>
        <div class="info-section">
          <div class="avatar-section">
          <ion-avatar class="profile-avatar">
            <ion-img src="assets/icon/gato.jpg"></ion-img>
          </ion-avatar>
        </div>
          <h2 class="info">Entrada:</h2>
          <h2 class="info">$5.00</h2>
          <h3 class="info">Angular acompañado de tu lenguaje favorito</h3>
          <div class="avatar-section">
          <ion-avatar class="profile-avatar">
            <ion-img src="assets/icon/gato.jpg"></ion-img>
          </ion-avatar>
        </div>
          <h2 class="info">Plato fuerte:</h2>
          <h2 class="info">$10.00</h2>
          <h3 class="info">Rutas y resar que no salgan errores</h3>
          <div class="avatar-section">
          <ion-avatar class="profile-avatar">
            <ion-img src="assets/icon/gato.jpg"></ion-img>
          </ion-avatar>
        </div>
          <h2 class="info">Postre:</h2>
          <h2 class="info">$20.00</h2>
          <h3 class="info">Que termines tu proyecto despues de no dormir</h3>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 